body {
  background-color: #22313F;
  color: #ecf0f1;
  font-family: "Roboto Mono", sans-serif;
  margin: 40px;
  transition: 1000ms ease-in-out background-color;
}

*:focus {
    outline: none;
}

#form-container {
  position: relative;
  float: left;
  width: 20%;
  display: inline-block;
}

#file-field {
  width: 100%;
  padding-top: 420px;
  height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 150px 100px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms ease-in-out all;
  z-index: 5;
}

#file-field:hover, .thumbnail:hover {
  border-color: #f1c40f;
}

#upload-results, .upload-desc-container {
  width: 80%;
  display: inline-block;
}

#file-field-desc {
  position: absolute;
  padding: 20px;
  user-select: none;
  font-size: 0.5em;
  z-index: 3;
  cursor: pointer;
}

.ui-response {
  border-radius: 5px;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ecf0f1;
  margin: 0px 15px 15px 15px;
  overflow: auto;
}

.thumbnail {
  float: left;
  display: inline-block;
  width: 20%;
  min-height: 100px;
  background-size: contain;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-radius: 5px;
  transition: 200ms ease-in-out border-color;
}

.timestamp {
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.5em;
  color: #f1c40f;
}

.label {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.7em;
  text-decoration: underline;
}

.upload-response-message, .upload-source {
  padding-left: 10px;
}

.upload-response-message:hover {
  cursor: pointer;
}

.upload-url {
  font-size: 1em;
}